.page-content.container
  .columns
    .column.one-fourth
      = image_tag "#{@github_user.avatar}",
                  class: "user-avatar rounded-2 user-page",
                  alt: "@#{@github_user.username}"
      %h1.card-names.my-3
        .card-fullname= @github_user.name
        .card-username= @github_user.username
      .card-stats.border-top.border-bottom.border-gray-light.mb-3.py-3
        %a.card-stat{ href: "/#{@github_user.username}/followers" }
          %strong.card-stat-count.d-block=@github_user.followers
          %span.text-muted Followers
        %a.card-stat{ href: "/#{@github_user.username}/starred" }
          %strong.card-stat-count.d-block= @github_user.starred_count
          %span.text-muted Starred
        %a.card-stat{ href: "/#{@github_user.username}/following" }
          %strong.card-stat-count.d-block=@github_user.following
          %span.text-muted Following
      - if @github_user.orgs.count > 0
        .clearfix
          %h3 Organizations
          - @github_user.orgs.each do |org|
            %a{href: org.url}
              = image_tag "#{org.avatar}",
                          class: "org-avatar",
                          alt: "@#{org.login}"
    .column.three-fourths
      .tabnav
        .right
          %span.user-following-container
            %span.follow
              %button.btn.btn-follow
                %svg.octicon.octicon-person{"aria-hidden":"true", version:"1.1",viewBox:"0 0 8 16"}
                  %path{d:"M7 6H1c-0.55 0-1 0.45-1 1v5h2v3c0 0.55 0.45 1 1 1h2c0.55 0 1-0.45 1-1V12h2V7c0-0.55-0.45-1-1-1z m0 5h-1V9h-1v6H3V9h-1v2H1V7h6v4z m0-8C7 1.34 5.66 0 4 0S1 1.34 1 3s1.34 3 3 3 3-1.34 3-3zM4 5c-1.11 0-2-0.89-2-2S2.89 1 4 1s2 0.89 2 2-0.89 2-2 2z"}
                Follow
        %nav.tabnav-tabs
          %a.tabnav-tab.selected{ href:"/#{@github_user.username}?tab=repos", role: "tab" }
            %svg.octicon{"aria-hidden":"true", version: "1.1", viewBox: "0 0 12 16"}
              %path{d:"M4 9h-1v-1h1v1z m0-3h-1v1h1v-1z m0-2h-1v1h1v-1z m0-2h-1v1h1v-1z m8-1v12c0 0.55-0.45 1-1 1H6v2l-1.5-1.5-1.5 1.5V14H1c-0.55 0-1-0.45-1-1V1C0 0.45 0.45 0 1 0h10c0.55 0 1 0.45 1 1z m-1 10H1v2h2v-1h3v1h5V11z m0-10H2v9h9V1z"}
            Repositories
          %a.tabnav-tab{ href:"/#{@github_user.username}?tab=starred", role: "tab" }
            %svg.octicon{"aria-hidden":"true", version: "1.1", viewBox: "0 0 12 16"}
              %path{d:"M4 9h-1v-1h1v1z m0-3h-1v1h1v-1z m0-2h-1v1h1v-1z m0-2h-1v1h1v-1z m8-1v12c0 0.55-0.45 1-1 1H6v2l-1.5-1.5-1.5 1.5V14H1c-0.55 0-1-0.45-1-1V1C0 0.45 0.45 0 1 0h10c0.55 0 1 0.45 1 1z m-1 10H1v2h2v-1h3v1h5V11z m0-10H2v9h9V1z"}
            Starred
          %a.tabnav-tab{ href:"#", role: "tab" }
            %svg.octicon{"aria-hidden":"true", version: "1.1", viewBox: "0 0 12 16"}
              %path{d:"M2 13H0V11c1.11 0 2 0.89 2 2zM0 3v1c4.97 0 9 4.03 9 9h1c0-5.52-4.48-10-10-10z m0 4v1c2.75 0 5 2.25 5 5h1c0-3.31-2.69-6-6-6z"}
            Public Activity
      %ul.repo-list
        - @repos.each do |repo|
          .repo-list-item
            .repo-list-stats
              %span= repo.language
              %a.repo-list-stat-item.tooltipped{href: "#"}
                %svg.octicon.octicon-star{"aria-hidden": "true", version:"1.1", viewBox:"0 0 14 16"}
                  %path{d:"M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"}
                = repo.star_count
              %a.repo-list-stat-item.tooltipped{href: "#"}
                %svg.octicon.octicon-git-branch{"aria-hidden": "true", version:"1.1", viewBox:"0 0 10 16"}
                  %path{d:"M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"}
                = repo.fork_count
            %h3.repo-list-name
              %a{href:"#{repo.url}"}="#{repo.name}"
            - if repo.description
              %p.repo-list-description= repo.description
            %p.repo-list-meta="Updated on #{repo.updated_at.strftime("%B %-d, %Y")}"
